@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.donations-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    rgba(204, 195, 176, 1) 0%,
    rgba(246, 246, 246, 1) 20%,
    rgba(204, 195, 176, 1) 40%,
    rgba(246, 246, 246, 1) 60%,
    rgba(204, 195, 176, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}
.donations-title {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
  text-align: left;
  color: #cd6727;
}

.donations-box1 {
  width: 90%;
  margin-bottom: 20px;
  background: #fcfcfc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.donations-subtitle {
  width: 90%;
  padding: 20px 0px;
  font-size: 2rem;
  text-align: left;
  color: #cd6727;
}

.donations-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  box-shadow: 0 0px 0px rgb(0 0 0 / 30%), 0 5px 10px rgb(0 0 0 / 22%);
}
/***** overriding react-slick slider styles *****/

.slick-arrow {
  display: none !important;
}
.slick-dots li button:before {
  margin-top: 10px;
  font-size: 15px;
}
.slick-dots li.slick-active button:before {
  color: #cd6727 !important;
}

/************************************************/

.donations-text-container {
  text-justify: auto;
  color: #28231e;
  padding: 40px 5%;
}
.donations-text-container p {
  text-align: justify;
  font-family: "Josefin Sans", cursive;
}

.link {
  font-size: 1.5rem;
  text-decoration: none;
  color: #cd6727;
}

@media screen and (min-width: 60em) {
  .donations-container {
    background-image: none;
  }

  .donations-title {
    padding-left: 40px;
  }

  .donations-box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 50px 20px;
    flex-direction: row;
  }

  .donations-box1:nth-child(even) {
    flex-direction: row-reverse;
  }

  .donations-image {
    width: 500px;
    height: 300px;
    background-size: cover;
    box-shadow: 0 0px 0px rgb(0 0 0 / 30%), 0 5px 10px rgb(0 0 0 / 22%);
  }
  .donations-text-container {
    width: 60%;
    border-radius: 5px;
    padding: 5%;
  }
}
