.path-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fcfcfc;
  /* background-image: linear-gradient(to bottom, #fef9d7 0%, #fdfcfc 100%); */
}

.path-title {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: left;
  color: #cd6727;
}

.path-img-text-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.path-img-container {
  width: 90%;
  margin: 20px 0px;
}

.path-image-1 {
  background-size: cover;
  width: 100%;
  box-shadow: 0 0px 0px rgb(0 0 0 / 30%), 0 5px 10px rgb(0 0 0 / 22%);
}

.path-text-container {
  width: 90%;
}

.heading {
  font-size: 2rem;
  color: #cd6727;
}

.sub-heading {
  font-size: 1.5rem;
  color: #cd6727;
}

@media screen and (min-width: 60em) {
  .path-img-text-wrapper {
    flex-direction: row;
    width: 90%;
  }
  .path-img-container {
    margin-right: 20px;
    display: flex;
    width: 50%;
    align-items: center;
  }
  .path-image-1 {
    width: 90%;
  }
}
